[submodule "themes/mediumish"]
	path = themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/ronaldbosma/ronaldbosma.github.io.git
