<script type="text/javascript">
    // This script will remove any existing cookies that were set by the website

    var keyValuePairs = document.cookie.split(';');
    for (var i = 0; i < keyValuePairs.length; i++) {
        var name = keyValuePairs[i].substring(0, keyValuePairs[i].indexOf('='));
        
        var expireDate = new Date();
        expireDate.setSeconds(expireDate.getSeconds() + 1);

        // Remove the cookie by removing the value and setting the expiration date to 1 second in the future
        document.cookie = name + "=;domain=" + window.location.hostname + ";path=/;expires=" + expireDate.toUTCString();
    }
</script>